# Add files here to ignore them from prettier formatting

/dist
/coverage

/apps/blog-wordpress/node_modules
/apps/blog-wordpress/public
/apps/blog-wordpress/.cache

/apps/blog-medium/node_modules
/apps/blog-medium/public
/apps/blog-medium/.cache
