# Add files here to ignore them from prettier formatting

/dist
/coverage

/apps/blog-wordpress-gatsby/node_modules
/apps/blog-wordpress-gatsby/public
/apps/blog-wordpress-gatsby/.cache

/apps/blog-medium-emily-xiong/node_modules
/apps/blog-medium-emily-xiong/public
/apps/blog-medium-emily-xiong/.cache
